/* Add screen styles below */
body {

    background: #F1FAEE;  
    margin: 0;
    padding: 0;
    color: #1D3557;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.HomePage {
    display: flex;
}
div{
    text-align: center;
    margin: 30px;
    padding: 15px;
    font-size: 20pt;
}
.Contact{
    text-align: center
}

section{
    margin: 20px;
    font-size: 20pt;
    padding: 25px;
    display: flex;
}


.ImageHome{
    padding-top: 50px;


}
.TextHome{
    padding-top: 50px;
    text-align: center;
}
.Form{
    padding-bottom: 5px;
    padding-left: 10px;
}

input, textarea{
    width: 35%;
    padding: 15px; 
    border-color: #457B9D;
    background-color: #457B9D;
    color: #F1FAEE;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24pt;
}
input.submit {
    padding: 0;
    font-size: 40pt;
    border-radius: 50px;
    width: 449px;
    height: 86px;
    color: #F1FAEE;
    background-color: #1D3557;
}
::placeholder{
    color: #F1FAEE;
}

h1{
    padding-top: 40px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:64pt;
    text-align: center;
    text-decoration-line:underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 15px;
    
}
h2{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:92pt;
    text-align: center;
}
h3{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:64pt;
    text-decoration-line:underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 15px;
    
}
p{
    text-align: center;
    line-height: 1.8 cm;
    font-size: 20pt;
    font-family: cursive;
    color: #1D3557;
}
span.Highlight{
    color: #457B9D;
}
span.Hello{
    color: #457B9D;
    font-size: 24;
}
.AutDat{
    white-space: pre-wrap;
    text-align: center;
}
ol{
    white-space: pre-wrap;
}
.Me{
    padding: 10px;
    border-radius: 30px;
}
.Poster{
    width: 100%;
    border: 7pt solid #A8DADC;
    border-radius: 10px;
}
.Layer{
    width: 20cm;
    border: 7pt solid #A8DADC;
    border-radius: 10px;
}
.Menu{
    width: 100%;
    border: 7pt solid #A8DADC;
    border-radius: 10px;
}
.MenuP{
    width: 700px;
    border: 7pt solid #A8DADC;
    border-radius: 10px;
}
iframe{
    width: 100%;
    border: 7pt solid #A8DADC;
    border-radius: 10px;
}
figure {
   float: right;
   font-size: 15pt;
   text-align: center;
   margin: auto;
}
figcaption{
   white-space: pre;
   margin: 1pt;
}
a{
    font-size: 25pt;
    padding-left: 10px;
}
a.link{
    text-decoration: none;
    color: #F1FAEE;
}
a.button{
    padding: 15px;
    background-color: #457B9D;
    border-radius: 60px;
    text-decoration: none;
    color: #F1FAEE;
}
a.LinkHeader{
    padding-top: 40px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40pt;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: #F1FAEE;
}
a.active {
    color: #A8DADC;
    font-weight: bold;
}

header{
    padding-left: 5px;
    display: flex;
    width: 100%;
    background-color: #457B9D;
    line-height: .8cm;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

nav{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding-top: 40px;
    padding-right: 75px;
    text-align: center;
    font-size: 24pt;
    }
