/* Add screen styles below */
body {

    background: #F1FAEE;  
    margin: 0;
    padding: 0;
    color: #1D3557;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.HomePage {
    display: flex;
}
div{
    margin: 30px;
    padding: 15px;
    font-size: 20pt;
}
.Contact{
    font-size: 30pt;
    text-align: center;

}

article{
    margin: 20px;
    font-size: 20pt;
    padding: 25px;
}
article:nth-of-type(1){
    flex: 3;
}
article:nth-of-type(2){
    flex: 3;
}
.Form{
    padding-bottom: 5px;
    padding-left: 10px;
}
input, textarea{
    padding: 15px; 
    border-color: #457B9D;
    background-color: #457B9D;
    color: #F1FAEE;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24pt;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size:40pt;
    text-align: center;
}
p{
    line-height: 1.8 cm;
}
.AutDat{
    white-space: pre-wrap;
    text-align: center;
}
ol{
    white-space: pre-wrap;
}
.Me{
    padding: 10px;
    border-radius: 30px;
}
.Peele{
    border-radius: 20px;
}
.PlasticSK{
    border-radius: 20px;
}
figure {
   float: right;
   font-size: 15pt;
   text-align: center;
   margin: auto;
}
figcaption{
   white-space: pre;
   margin: 1pt;
}
a{
    font-size: 25pt;
    padding-left: 10px;
}
a.link{
    text-decoration: none;
    color: #F1FAEE;
}
a.LinkHeader{
    padding-top: 40px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40pt;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    color: #F1FAEE;
}
a.active {
    color: #A8DADC;
    font-weight: bold;
}

header{
    padding-left: 5px;
    display: flex;
    width: 100%;
    background-color: #457B9D;
    line-height: .8cm;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

nav{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding-top: 40px;
    padding-right: 75px;
    text-align: center;
    font-size: 24pt;
    }
